



  <br><br><br><br>
  
  <h1 style="color: red;text-align: center;font-weight: bold;">Course List</h1>
  
  
  <div >
    <div class="table-fixed" style="width: 50%"> 
      <table class="table table-hover"style="color:blue;font-size:20px;background-color: white;">
        <thead>
          <tr style="color: white;font-weight: bold;background-color: black;">
             
            <th>Topics</th>
            
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let t of topic">
            <td>{{t.topicName}}</td>
           
            <td>
            <button type="button"(click)="viewques(t.tid)" >Open</button>
            </td>
            <td>
                <!-- <button type="button" routerLink="/update/{{emp.no}}" class="btn btn-warning">Update</button> -->
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>